/* PAGE CONTENT*/ 


body {
    margin-left: 25%;
    margin-right: 25%;
    vertical-align: middle;
    max-width: 90%;
    background-color: #7F968E;
}

hr {
    height: 5px;
    background-color: #fff;
}

blockquote {
    background-color: #14362B;
    text-align: center;
    color: #fff;
    padding-inline-start: 18px, 24px;
}


footer {
    text-align: right;
}

/* MEDIA */


img {
    width: 500px;
    margin-left: 20%;
}

/* TEXTS AND FONTS */


h1 {
    font-size: 84px;
    text-align: center;
    color: #14362B;
    text-transform: uppercase;
}

h2 {
    font-size: 54px;
    text-align: center;
    color: #14362B;
    text-transform: uppercase;
}

q {
    font-style: italic;
    font-size: 21px;
    text-align: right;
}

cite {
    text-align: right;
}

p {
    font-style: normal;
    font-size: 18px;
}


/* TABLE */


thead {
    background-color: #14362B;
    height: 45px;
    text-transform: uppercase;
    color: antiquewhite;
}

td {
    width: 400px;
    
}




